{% extends "base.html" %}

{% block content %}
    {% if object_list %}
        {% for post in object_list %}
            ID : {{ post.id}} ||
            Author : {{ post.author }} ||
            Title : {{ post.title }} ||
            Content: {{ post.content }} ||
            Last updated: {{ post.updated}}
            <a href='{% url "update" post.id %}'> UPDATE </a>
            <a href='{% url "delete" post.id %}'> DELETE </a>
            <br>
        {% endfor %}
    {% endif %}
{% endblock content %}
