{% comment %} {% include 'include/nav.html' %} {% endcomment %}
{% include 'include/css.html' %}
{% include 'include/js.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>W</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <canvas></canvas>
        {% block content %}
        {% endblock content %}
        <script>
            const canv = document.querySelector("canvas");
            const cxk = canv.getContext("2d");
            const high_ground = 100;
            const random_seed = new Date().getTime();

            function fakeRandomNum(max_val, step) {
                let rem = 895421;
                let tempSeed = (step+1) * random_seed % rem;
                return Math.floor((tempSeed/rem)*max_val)
            }
    
            function setCanvasFullScreen() {
                canv.width = window.innerWidth;
                canv.height = window.innerHeight;
            };
    
            setCanvasFullScreen();
    
            // Sky
            function drawSkyGround() {
                var sky = cxk.createLinearGradient(0,0,0,canv.height);
                sky.addColorStop(0, "#3CB1FF");
                sky.addColorStop(1, "#8FF6FF");
                cxk.fillStyle = sky;
                cxk.fillRect(0, 0, canv.width, canv.height);
                
                // Ground
                cxk.beginPath();
                cxk.rect(0, canv.height-high_ground, canv.width, high_ground);
                cxk.closePath();
                cxk.fillStyle = "#545F54";
                cxk.fill();
            }
            

            // Building
            function drawBld() {
                for (let x_bld=0;x_bld<canv.width;x_bld+=50) {
                    cxk.beginPath();
                    let max_high_building = canv.height-500
                    let high_building = fakeRandomNum(max_high_building, x_bld);
                    cxk.rect(x_bld, canv.height-high_ground*2-high_building, 100, high_ground+high_building);
                    cxk.closePath();
                    cxk.fillStyle = "#808080";
                    cxk.fill();
                    cxk.strokeStyle = "#000000";
                    cxk.stroke()
                    // drawa window
                    cxk.beginPath();
                    for (let y=10;y<high_building+80;y+=20) {
                        // start point +10 +10
                        for (let i=10;i<100;i+=25) {
                            cxk.rect(x_bld+i, canv.height-high_ground*2-high_building+y, 10, 10);
                            // TIME WINDOW LIGHT
                            cxk.fillStyle = "#FFFFFF";
                            cxk.fill();
                            cxk.closePath();
                        }
                    }
                    
                }
            }

            // sun/moon
            function drawSunMoon(index) {
                let x_pos = index*canv.width
                // calculate 
                let sin_x = canv.width / Math.PI;
                // sin_x equal to max high
                let control_y_idx = 1-(sin_x-canv.height)/canv.height;
                y_pos = Math.abs((sin_x * Math.sin(x_pos / sin_x) * control_y_idx)-canv.height);

                cxk.beginPath();
                cxk.arc(x_pos, y_pos, 59, 0, Math.PI*2);
                cxk.fillStyle = "#FF5510";
                cxk.fill();
                cxk.closePath();
            }

            function draw() {
                cxk.clearRect(0, 0, canv.width, canv.height);
                drawSkyGround();
                drawSunMoon(0.5);
                
                drawBld();
                requestAnimationFrame(draw);
            }
            
            
            draw();
        </script>
    </body>
</html>


