{% extends "base.html" %}
{% load widget_tweaks %}
{%  block content %}
    <div class="col-lg-9">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_fields_errors }}
            <div class="fieldWrapper">
                <label for="{{ form.title.id_for_label }}"> Title : </label>
                {{ form.title | add_class:"form-control" }}
                {{ form.title.errors }}
            </div>
            <div class="fieldWrapper">
                    <label for="{{ form.author.id_for_label }}"> Author : </label>
                    {{ form.author | add_class:"form-control" }}
                    {{ form.author.errors }}
            </div>
            <div class="fieldWrapper">
                    <label for="{{ form.content.id_for_label }}"> Content : </label>
                    {{ form.content | add_class:"form-control" }}
                    {{ form.content.errors }}
            </div>
            <br>
            <button type="submit" class="btn btn-info"> CREATE </button>
            <button type="reset" class="btn btn-info"> RESET </button>
        </form>
    </div>
{% endblock content %}

