{% extends "base.html" %}
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% block content %}
  {% load static %}
  <div class="p-5 rounded">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for loc_name in loc_name_list %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'images/'|add:loc_name.loc_eng|add:'.jpg' %}" alt="germany" class="bd-placeholder-img card-img-top" width="100%" height="225"
          role="img"/>
          <div class="card-body">
            <p class="card-text">{{ loc_name.loc_chinese }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
</body>

</html>