{% include 'include/css.html' %}
{% include 'include/js.html' %}
<style>
    .responsive-heading {
        font-size: calc(2rem + 3vw);
        min-font-size: 2rem;
        line-height: 1.2;
    }
</style>
<div class="container">
    
    <div class="row min-vh-100 d-flex justify-content-center align-items-center">
        <h1 class="responsive-heading text-nowrap"><span id="title_text">光是遇見 就很美好</span></h1>
    </div>
</div>
<script>
    function text_update() {
        $("#title_text").
    }
    function jumper() {
        window.location.href="home"
    }
    setTimeout(
        function() {
            jumper()
        }, 
        1000
        );
</script>
